.scardFirst {
    background-color: rgb(86, 167, 192);
    color:white;
    padding-top: 50px
}

.scard {
    background-color: rgb(86, 167, 192);
    color:white;
}

.card-header {
    background-color: rgb(86, 167, 192) !important;
    text-align: center;
    font-size: 25px;
    color:white;   
}

.day {
    font-size: 20px;
}

.date {
    font-size: 13px;
}  

.date-container {
    display: flex;
    align-items: center;
    justify-content: center 
}

.temp-container {
    display: flex;
    align-items: center; 
    margin-left: 25px
}

.city-container {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.temp {
    font-size: 20px; 
}

.weather-image {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.city {
    font-size: 25px;
    padding-top: 15px 
}

.icon-text {
    padding-bottom: 15px 
}

.large-temp {
    font-size: 30px;
    padding: 15px 0px 20px 25px
}

.card-body {
    padding: 0px 0px 0px 0px !important
}

.row {
    margin: 0px 0px 0px 0px !important;
}

.row>* {
    padding-right:0px !important;
    padding-left:0px !important;
}

.icon-size {
    width: 100px !important
}

.card-group>.card {
     margin-bottom: 0px
}
